{% extends "base.html.twig" %}
{% block body %}
<div class="d-flex">
{% include "admin/admin.html.twig" %}
<div class=" admin-action">
<div class="flex-center-col">
<div class="flex-center-col table-container">
    <h3 class="text-center">ArtEvents à valider </h3>
    <table>
        <thead>
            <tr>
                <th>ArtEvent</th>
                <th>Prix</th>
                <th class="text-center">Intervenant</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead> 
        <tbody>
            {% for event in events %}
            <tr>
                <td>
                <a class="detail-link" href="{{path( 'app_event_showDetail', {id:event.id})}}">
                    <div class="d-flex" >
                    <img class="basket-image"src={{event.image ? vich_uploader_asset(event) : asset('images/placeholder.jpg')}} width="120" height="100"> 
                    <div class="pl-2">  
                        <p>{{event.name|u.truncate(20, '...', false)}}</p>
                        <p>{{event.date|date}}</p>
                        </div>
                    </div>
                    </a>
                </td>
                <td>{{event.price}}€</td>
                <td>
                    <p>Pepe</p>
                   
                </td>
                <td class="text-center"> 
                    <div>
                        <a class="btn-admin btn-up"href="{{path('admin_event_update', {id:event.id})}}">Modifier <i class="fa-solid fa-pencil"></i></a>
                        <a class="btn-admin btn-del"href="{{path('admin_event_delete', {id:event.id})}}">Supprimer  <i class="fa-solid fa-trash-can"></i></a>
                        <a href="{{path( 'admin_event_check', {id:event.id})}}"class="btn-validate btn-admin" >Valider <i class="fa-solid fa-check "></i></a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>   
</div>
{% endblock %}