{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="nav-bg-div connexion-fixed">
</div>
<div class="d-flex connexion-container">
    <div id="img-connexion">
    </div>
    <div class="box-connexion d-flex justify-content-center">
    <div class="flex-center-col form-container-connexion">
        <h3 class="text-center mb-3">Connexion</h3>
        <p class="text-center mb-4">Grâce à votre compte, vous pourrez retrouver vos billets, votre reçu et tous nos services.</p>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
        
        <form class="d-flex flex-column" method="post">
            <label class=""for="inputEmail" ></label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"  placeholder="Email" autocomplete="email" required autofocus >
            <label class=" mt-3" for="inputPassword"></label>
            <input type="password" name="password"  placeholder="Mot de passe" id="inputPassword"  autocomplete="current-password" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"
            >
            <a class="mt-3"href="{{path('app_forgot_password_request')}}">Mot de passe oublié?</a>  
            <button class="btn-color1 mt-4 mb-3" type="submit">
                Se connecter
            </button>
            <a href="{{path('app_registration')}}"><span class="text-dark">Pas de compte? </span>  S'inscrire</a>
        
            <label id="remember-me">
                <input class="mr-3"type="checkbox" name="_remember_me">Se souvenir de moi
            </label>
         </form>
        </div>    
            
        
    </div>
<div>
{% endblock %}
