{% extends "base.html.twig" %}
{% block body %}

{# !It's necessary to change  the margin bottom in the .profil-img-behind if there is more information (line.43 user.css) #}
{% include "/user/count-info.html.twig" %}
<div class="profil-img-behind">
    <div class="profil-description">
        <div class="profil-top">
            <img class="image-profil" src={{app.user.image ? vich_uploader_asset(app.user) : asset('uploads/profil.jpeg')}}>           
            <p class="profil-name text-capitalize">{{app.user.name}} {{app.user.lastname}}</p>
        </div>      
    </div>
</div>
    <div class="profil-description profil-description-2">
            <h4 class="text-dark mb-3">A propos de moi..</h4>
            <p class="mb-5">{{app.user.description}}</p>
            <a class="btn-color1 btn-modif-profil"href="{{path('app_security_changeProfil')}}">Modifier</a>
        </div>
{% include "footer.html.twig" %}
{% endblock %}
