{% extends "base.html.twig" %}
{% block body %}

<div class="profil-img-behind flex-center-col">
    <h1> mes informations:</h1>
    <div class="profil-description">
        <div class="d-flex">
            <img class="image-profil" src="{{app.user.image ? vich_uploader_asset(app.user) : asset('images/placeholder.jpg')}}"/>
            <p class="profil-name text-capitalize">{{app.user.name}} {{app.user.lastname}}</p>
        </div>
        <div class="">
            <h4 class="text-dark mb-3">A propos de moi..</h4>
            <p class="profil-about">{{app.user.description}}</p>
            <button class="btn-color1"><a href="{{path('app_security_changeProfil')}}">Modifier</a></button>
        </div>
    </div>
</div>

{% include "footer.html.twig" %}
{% endblock %}
