{% extends "base.html.twig" %}
{% block body %}
<div class="d-flex">
{% include "admin/admin.html.twig" %}
<div class=" admin-action">
<div class="flex-center-col">
<div class="flex-center-col table-container">

  <h3 class="text-center">Liste d'utilisaturs</h3>
    
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th> Roles </th>
        <th>Email</th>
        <th>Telephone</th>
        <th>Changer Role</th>
        <th></th>
      </tr>
  </thead>
  <tbody>
  {% for user in users %}
    <tr>
      <th scope="row"><img  src="{{user.image ? vich_uploader_asset(user) : '../uploads/profil.jpeg'}}" width="45px" height="50px"/></th>
      <td>{{user.name}} {{user.lastname}}</td>
      <td> 
        {% for role in user.roles %}
        {% if role =='ROLE_ADMIN' %}

        <p>Administrateur</p>
        {% elseif role =='ROLE_THERAPIST'%}
        <p>Thérapeute</p>
        {% elseif role =='ROLE_USER'%}
        <p>Utilisateur</p>
        {% endif %}

        {% endfor %}
      </td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
      <td><a class="btn-admin btn-up"href="{{path('admin_users_updateUser', {id:user.id})}}">Modifier <i class="fa-solid fa-pencil"></i></a>
    </tr>
    {% endfor %}
    
  </tbody>
</table>
     <div class= "m-5">    
    {{ knp_pagination_render(users, 'pagination.html.twig') }}
    </div>
</div>
{% endblock %}