{% if is_granted('ROLE_ADMIN') %}
<div class="nav-bg-div connexion-fixed">
</div>
<div class="d-flex flex-column admin-nav">
    <div class="welcome-admin">
        <h2>ADMIN</h2>
        <p class="text-center">Bienvenue @{{app.user.name}}</p>
        <p class="text-center mb-4">{{'now'|date('h:i A')}}</p>
    </div>
    <div class="admin-links d-flex flex-column">
        <a class="" href="{{path('admin_users_list')}}"><i class="fa-solid fa-user"></i><p>Utilisateurs</p></a>
        <a class="" href="{{path('admin_event_create')}}"><i class="fa-solid fa-pen"></i><p>Créer ArtEvent</p></a>
        <a class="" href="{{path('admin_event_list')}}"><i class="fa-solid fa-calendar"></i><p>Events</p></a>
        <a class="" href="{{path('admin_event_approuved')}}"><i class="fa-solid fa-check"></i></i><p>Validés</p></a>
        <a class="" href="{{path('admin_event_notApprouved')}}"><i class="fa-solid fa-xmark"></i></i><p>Non Validés</p></a>
        <a class="" href="{{path('admin_order_list')}}"><i class="fa-solid fa-basket-shopping"></i><p>Commandes</p></a>
        <a class="" href="{{path('admin_therapist_list')}}"><i class="fa-solid fa-palette"></i><p>Art-Thérapeutes</p></a>
    </div>
</div>
{% endif %}
