{% extends "base.html.twig" %}
{% block body %}
<div class="d-flex">
{% include "admin/admin.html.twig" %}
<div class=" admin-action">
<div class="flex-center-col">
<div class="flex-center-col table-container">
    <h3 class="text-center">Commandes</h3>
    <table>
    <thead>
            <tr>
                <th>ArtEvent(s)</th>
                <th>Intervenant(s)</th>
                <th>Date de commande</th>
                <th>PrixTotal</th>
            </tr>
        </thead> 
        <tbody>
            {% for order in orders %}  
            <tr>
                <td class="d-flex flex-column">
                    {% for article in order.articles %}                
                    <p>{{article.event.name}} ({{article.quantity}})</p>
                    {% endfor %}
                </td>
                <td>
                    {% for article in order.articles %}
                    <p>{{article.event.therapist.name|capitalize}}</p>
                    {% endfor %}
                </td>
                <td>{{order.createdAt|date }}</td>
                <td>{{order.totalPrice}}€</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class= "m-5">
    {{ knp_pagination_render(orders, 'pagination.html.twig') }}
    </div>
</diV>

{% endblock %}