{% extends 'base.html.twig' %}

{% block title %}Contactez nous!{% endblock %}

{% block body %}
<h2>Nous contacter</h2>
<p>Laisses nous un message! On se mettra un contact bientôt</p>
{% for message in app.flashes('succes') %}
{{message}}
{% endfor %}
    {{form_start(form)}}
    <div class="">
        {{form_row(form.name)}}
    </div>
    <div>
        {{form_row(form.email)}}
    </div>
    <div>
        {{form_row(form.message)}}
    </div>
   
    {{form_end(form)}}

{% endblock %}
