<footer>
    <div class="footer-info">
            <div>
                <h4 class="footer-title">Coach-art</h4>
                <a href="{{path('app_home_about')}}">À propos de nous</a>
                <a href="{{path('app_email_contact')}}">Contact</a>
            
            </div>
            <div>
                <h4 class="footer-title">Découvrez</h4>
                <a href="{{path('app_events_list')}}">Nos Ateliers</a>
                {% if (is_granted('ROLE_THERAPIST')) %}
                <a href="{{path('app_therapist_proposition')}}">Propositions</a>
                {% endif %}
                <a href="{{path('app_home_intervenants')}}">Nos intervenants</a>
            </div>
            <div>
                <h4 class="footer-title">Confidencialité</h4>
                <a href="{{path('app_home_legal')}}">Mentions légales</a>
               

            </div>
    </div>
    <div class="footer-end">
    <p >@{{'now'|date('Y')}} Coach-Art</p>  
    <a href="https://maralena86.github.io/web_maria/">Développe par Helena Vasquez</a>
    </div>
    
</footer>