{% extends "base.html.twig" %}
{% block body %}
<div class="panier-title title-container mb-4">
        <h1 class="title-page ">Votre panier</h1>      
    </div>
<div class="flex-center-col">
<div class="flex-center-col table-container">
    
   {% if app.user.basket.articles|length == 0 %}
   <h2 class="my-5">Le panier est vide</h2>
   <a class="btn-art btn-color2"href="{{path('app_events_list')}}">Continuer les achats</a>
   {% else %}
    <table>
        <thead>
            <tr>
                <th>ArtEvent</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead> 
        <tbody>
            {% for article in app.user.basket.articles %}
            <tr>
                <td>
                <a class="detail-link" href="{{path( 'app_event_showDetail', {id:article.event.id})}}">
                    <div class="d-flex" >
                    <img class="basket-image"src={{article.event.image ? vich_uploader_asset(article.event) : asset('images/placeholder.jpg')}} width="120" height="100"> 
                    <div class="pl-2">  
                        <p>{{article.event.name|u.truncate(20, '...', false)}}</p>
                        <p>{{article.event.date|date}}</p>
                        </div>
                    </div>
                    </a>
                </td>
                <td>{{article.event.price}}€</td>
                <td>
                    <div class="d-flex basket-quantity">
                        <div>
                            <a href="{{path('app_basket_decrease', {id:article.id})}}">-</a>
                        </div>
                        
                        <div>
                            <p>{{article.quantity}}</p>
                        </div>
                        
                        <div>
                            <a href="{{path('app_basket_increase', {id:article.id})}}">+</a>
                        </div>
                        
                    </div>
                </td>
                <td>{{article.getPriceQuantity}}€</td>
                <td><a href="{{path('app_basket_remove', {id:article.id})}}">Remove</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="basket-totalPrice"><strong>Total: </strong>{{app.user.basket.getTotalPrice}}€</p>
    <div class="d-flex btn-basket">
    <a class="btn-art btn-color2"href="{{path('app_events_list')}}">Continuer les achats</a>
    <form action="/checkout" method="POST">
        <button class="btn-art btn-color1"type="submit">passer la commande</button>
    </form>
    {% endif %}

</div>
</div>
</div>


{% endblock %}


{# {% for article in app.user.basket.articles %}
<div class="basket-card ">
    
    <img src={{article.event.image ? vich_uploader_asset(article.event) : asset('images/placeholder.jpg')}}>
    <div class="product-info">
        <div class="product-info1">
            <h4>{{article.event.name|u.truncate(20, '...', false)}}</h4>
            <p>{{article.event.date|date}}</p>
            <p>{{article.event.description|u.truncate(30, '...', false)}}</p>
            <p> Paris 15</p>
        </div>
        <div class="product-info2">
            <p>{{article.getPriceQuantity}}€</p>     
            <p>Créé {{article.event.createdAt|ago}}</p>
        </div>
        <a href="{{path('app_basket_decrease', {id:article.id})}}">-</a>
        <p>{{article.quantity}}</p><a href="{{path('app_basket_increase', {id:article.id})}}">+</a>
    </div>
    <div>
        
    </div>
    <a href="{{path( 'app_event_showDetail', {id:article.event.id})}}">Détail</a>
</div>
    
{% endfor %}
<p><strong>Total: </strong>{{app.user.basket.getTotalPrice}}</p>
</div>
</div> #}