{% extends "base.html.twig" %}
{% block body %}

    <div class="art-event-title title-container">
        <h1 class="title-page "><span class="color-2">Art</span>-Ateliers</h1>
        <p class="text-center">Des ateliers créatifs à Paris</p>
    </div>
    <div class="form-search-event-home d-flex">
        {{form_start(form)}} 
            {# {{form_row(form.date)}}  #}
             {{form_row(form.options)}} 
        {{form_end(form)}}
    </div>
<div class="list-events">
    <div class="grid-container">
        {% for event in events %}
        <div class="grid-item">
            <a href="{{path( 'app_event_showDetail', {id:event.id})}}">
                <div class="img-container-event">
                    {% if event.options == "remote"%}
                    <p class="event-option">En distanciel</p>  
                    {% endif %}  
                    <img class="image-event" src={{(event.image ? vich_uploader_asset(event) : asset('images/placeholder.jpg'))| imagine_filter('my_thumb_filter') }} alt="{{event.name}}"> 
                        
                </div>
                <div class="product-info">
                    <div class="product-info1">
                        <h4>{{event.name|u.truncate(20, '...', false)}}</h4>
                        <p> <i class="fa-regular fa-calendar mr-1"></i>{{event.date|date}}</p>        
                        <p><i class="fa-solid fa-location-dot mr-1"></i> Paris 15</p>
                    </div>
                    <div class="product-info2 flex-around-col">
                        <p>{{event.price}}€</p>     
                        <div class="flex-around-col">  
                            {% if event.therapist %} 
                            <div class="therapist-image">
                                <img src={{event.therapist.image ? vich_uploader_asset(event.therapist) : asset('uploads/profil.jpeg')}} alt="face">
                            </div>
                            <p class="therapist-name text-capitalize">{{event.therapist.name}}</p>
                            {% endif %}
                    </div>
                </div>     
            </div>
            </a>
            <a class="btn-color1 reservation-button mb-2" href="{{path( 'app_basket_add', {id:event.id})}}">RÉSERVER</a>
        </div>   
        {% endfor %}
    </div>
</div>
{% include "footer.html.twig" %}
{% endblock %}