{% extends "/base.html.twig" %}
{% block body %}
<div class="nav-bg-div">
</div>
<div class="flex-center-col ">
    <div class="product-detail-container mt-4">
        <div class="product-detail ">
            <div class="top-detail">  
                <div class="image-event-detail">        
                    <img src={{event.image ? vich_uploader_asset(event) : asset('images/placeholder.jpg')}}  >
                </div>
                <div class="info-event-detail">
                    <h3 class="mb-3 detail-title">{{event.name}}</h3>
                    <div class="mb-2">
                        <p class=""><i class="fa-solid fa-location-dot mr-2"></i>Paris,11</p>
                        <p><i class="fa-regular fa-calendar mr-2"></i>{{event.date|date}}</p>
            
                    </div>
                    <p>{{event.description}}</p>
                </div>
            </div>
            <div class="bottom-detail d-flex">
            
                <div class="therapist-container">
                    <h3 id="therapist-detail-title">L'Intervenant</h3>
                    <div class="therapist-detail d-flex w-100">             
                        {% if  event.therapist %}
                        <div class="mr-3">
                            <img src={{event.therapist.image ? vich_uploader_asset(event.therapist) : asset('uploads/profil.jpeg')}}  >
                            <p id="name-therapist-detail">{{event.therapist.name}}</p>
                        </div>
                        <p>{{event.therapist.description}}</p>
                        {% endif %} 
                    </div>
                </div>
                <div id="map">
                    <p>L'addresse: </p>
                    <img  src="../uploads/map.png">
                </div>
            </div> 
        </div> 
        <div class="event-action">
            <div class="d-flex mb-2">   
                <p class="detail-event-price">{{event.price}}€</p>
                
                {# {% if (app.user != USER['ROLE_ADMIN']) %} #}
                <button class="btn-color1 btn-art"><a class="text-light" href="{{path('app_basket_add', {id:event.id})}}">Réserver</a></button>
                {# {% endif %} #}
            </div>
            
        </div>
        </div>
    </div>
</div>
{% endblock %}