{% extends "/base.html.twig" %}
{% block body %}
<div class="flex-center-col">
    <div class="product-detail p-5">
        <div class="row product-detail_info">
            <div class="row ">          
                <img class="col-7" src={{event.image ? vich_uploader_asset(event) : asset('images/placeholder.jpg')}} height="400" width="400">
                <div class="col-5 mt-3">
                    <h3>{{event.name}}</h3>
                    <div class="mb-3">
                        <p><i class="fa-solid fa-location-dot mr-3"></i>Paris,11</p>
                        <p><i class="fa-solid fa-calendar mr-3"></i>{{event.date|date}}</p>
                        {% for user in event.getUsers %}
                        <p ><i class="fa-solid fa-user mr-3"></i>{{user.name}}</p>
                        {% endfor %}
                    </div>
                    <p>{{event.description}}</p>
                </div>
            </div>
            <div class="row col-12 mt-5">
                <div class="col-9 row">
                    <div class="col-2">
                    {% for user in event.getUsers %}
                        <img src={{user.image ? vich_uploader_asset(user) : asset('images/placeholder.jpg')}} height="150" width="150">
                        
                        <p class="p-3">{{user.name}}</p>
                    </div>
                    <div class="col-9 ml-5">
                        <h3>L'Intervenant</h3>
                        <p>{{user.description}}</p>
                    {% endfor %}
                    </div>
                </div>
                <div class="col-3">
                    <div id="map">
                        <img src="../uploads/map.png" width"300" height="300">
                    </div>
                </div>    
            </div>
        </div>
        <div class="event-action">
            <div class="d-flex ">
                <p class="detail-event-price">{{event.price}}€</p>
                
                {# {% if (app.user != USER['ROLE_ADMIN']) %} #}
                <button class="btn-color1 btn-art"><a class="text-light" href="{{path('app_basket_add', {id:event.id})}}">Réserver</a></button>
                {# {% endif %} #}
            </div>
            <div>
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{path('admin_event_update', {id:event.id})}}">Modifier</a>
            
                <a href="{{path('admin_event_delete', {id:event.id})}}">Supprimer</a>
                {% endif %}
                
            </div>
        </div>
    </div>
</div>
{% endblock %}